In [1]:
import pandas as pd

In [2]:
dataset = pd.read_csv("monitoring_results_v2.csv")

In [4]:
dataset.head(5)

,Date,Time,Source,Raw_Text,Top_5_Terms,Frequencies
0,2026-02-17,Day: 13:59,BBC,US civil rights leader Jesse Jackson dies aged...,"winter, olympics, curling, cup, leader","10, 8, 6, 5, 4"
1,2026-02-17,Day: 13:59,CNBC,India discussing age-based restrictions with s...,"investors, stocks, india, firms, data","4, 3, 2, 2, 2"
2,2026-02-18,Morning: 08:10,BBC,I would scream in my sleep: Women from Syria's...,"winter, athletes, jesse, interview, curling","10, 5, 4, 4, 4"
3,2026-02-18,Morning: 08:10,CNBC,Businesses scramble to reach China's growing e...,"stock, big, stocks, palo, alto","4, 4, 4, 3, 3"
4,2026-02-18,Day: 17:34,BBC,'Difficult' Russia-Ukraine peace talks end wit...,"olympics, president, winter, curling, gold","8, 7, 7, 6, 6"